[Unit]
Description=NodeJS client for Tilt Hydrometer
Documentation=https://github.com/wgtndan/tilt-exporter
AssertPathExists=/opt/tilt-exporter
After=bluetooth.target

[Service]
WorkingDirectory=/opt/tilt-exporter
ExecStart=/opt/tilt-exporter/start.sh
Restart=always
RestartSec=5
StartLimitBurst=3
StartLimitInterval=20
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tilt-nodejs-client
LimitNOFILE=4096
IgnoreSIGPIPE=false
KillMode=process
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
